<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>

        <div class="cont">
            <h1>PRODUCTS</h1>


            <table class="table table-bordered table1">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Image</th>
                        <th scope="col">Price</th>
                        <th scope="col">Description</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let product of products) { %>
                        <tr>
                            <th scope="row">
                                <%= product.id %>
                            </th>
                            <td>
                                <%= product.name %>
                            </td>
                            <td><img class="image-of-product" src="<%= product.imageUrl %>"></td>
                            <td>
                                <%= product.price %>
                            </td>
                            <td>
                                <%= product.description %>
                            </td>
                            <td>
                                <a href="/admin/edit-product/<%= product.id %>"  class="btn btn-primary "> Update </a>
                                <form class="delete-form" action="/admin/delete-product" method="POST">
                                    <input type="hidden" value="<%= product.id %>" name="productId">
                                    <button type="submit" class="btn btn-danger"> Delete </button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <%- include('../includes/end.ejs') %>