<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>

        <div class="cont">
            <h1>Your Orders</h1>
            <% for (let order of orders) { %>
            <div class="card">
                <div class="card-header">
                    <h5 style="display: inline;">
                        Order - # <%= order._id %>
                    </h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a style="text-decoration: none;font-size: large;" href="/shop/orders/<%= order._id %>">Invoice</a>
                </div>
                <div class="card-body">
                    <ul class="orders__products">
                        <% order.products.forEach(p => { %>
                            <li class="orders__products-item"><h5><%= p.product.name %> :  (<%= p.quantity %>)</h5></li>
                        <% }); %>
                    </ul>
                </div>
            </div>
            <% } %>
        </div>
        <%- include('../includes/end.ejs') %>